{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Plate Detection</title>
</head>
<body>
    <h1>License Plate Detection</h1>
    <img src="{% url 'video_feed' %}" width="640" height="550">
    <button>home<button>
</body>
</html> {% endcomment %}

{% comment %} {% extends 'admin1.html' %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Plate Detection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>License Plate login Detection</h1>
    <img src="{% url 'video_feed' %}" width="640" height="480" id="video_feed">
    <br>
    <button type="button"><a href="{% url 'verify_sub' %}"><span>Qr_code</span></a></button>
    <form id="snapshotForm" method="post" action="{% url 'capture_snapshot' %}">
        {% csrf_token %}
        <button type="submit" id="captureButton">Capture Snapshot</button>
        <button type="button"><a href="{% url 'admin1' %}"><span>Home</span></a></button>
    </form>
    <br><br>
    <canvas id="qrCanvas" style="display: none;"></canvas>

    <script>
        $(document).ready(function() {
            // Test with a console log to check if the script is executing
            console.log("Document ready, waiting 10 seconds...");

            // Automatically click the "Capture Snapshot" button after 10 seconds
            setTimeout(function() {
                console.log("10 seconds passed, clicking Capture Snapshot button...");
                document.getElementById("captureButton").click();
            }, 15000); // 10000 milliseconds = 10 seconds
        });
        
    </script>
</body>
</html>
