<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Verification</title>
</head>
<body>
    <h1>Subscription Verification</h1>
    <div>
        <img src="{% url 'video_feed2' %}" width="640" height="480" id="video_feed2">
    </div>
    <button type="button"><a href="{% url 'admin1' %}"><span>Home</span></a></button>
    <!-- Optional: JavaScript to refresh the image periodically -->
    <script>
        function refreshImage() {
            var img = document.getElementById('video_feed2');
            img.src = img.src + '?' + new Date().getTime(); // Add timestamp to URL to force refresh
        }

        setInterval(refreshImage, 1000); // Adjust the interval as needed
    </script>
</body>
</html>
